@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

.SadBeader {
	font-size: 100vw / (1440/10);
}

.sad-bear {
	background-image: url('../../assets/images/SadBear/bear-background.png');
	height: 100%;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-bottom: 10rem;
	overflow: hidden;
	font-family: 'Electrolize', sans-serif;
	z-index: 1;

	.bottom-background {
		position: absolute;
		bottom: 0;
		left: auto;
		background-image: url('../../assets/images/SadBear/bear6.png');
		background-position: bottom 0 right -10rem;
		background-repeat: no-repeat;
		background-size: contain;
		width: 100%;
		height: 130rem;
		z-index: -1;
		opacity: 0.4;
		pointer-events: none;
	}

	.main-screen {
		padding-top: 20rem;
		padding-bottom: 11rem;
		position: relative;

		&__wrap {
			padding-left: 16.7rem;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}

		&__text {
			max-width: 62rem;
			width: 100%;
			text-align: left;
			color: #fff;
		}

		&__title {
			font-family: 'Hiruko';
			font-size: 9rem;
			color: #fff;
			margin-bottom: 0;
		}

		&__description {
			font-family: 'Hiruko';
			font-size: 4.6rem;
			margin-bottom: 2rem;
		}

		&__content {
			font-size: 3.6rem;
			text-align: justify;
			letter-spacing: -0.13rem;
			line-height: 4rem;

			b {
				font-family: 'Hiruko';
			}
		}

		.connect-button {
			font-family: 'Hiruko';
			font-size: 3.4rem;
			color: #00ffff;
			padding: 1rem;
			border-radius: 2px;
			background: radial-gradient(
				92.05% 92.05% at 50% 64.77%,
				rgba(16, 134, 141, 0.5) 0%,
				rgba(196, 196, 196, 0) 100%
			);
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
			border-image: linear-gradient(to bottom, #fff, #00ffff) 1 round;
			margin-top: 1rem;
			margin-bottom: 8rem;
		}

		.counter-placeholder {
			font-family: 'Hiruko';
			font-size: 7.2rem;
			color: #00ffff;
			text-transform: uppercase;
			margin-bottom: 0;
		}

		&__image {
			max-width: 69rem;
			width: 100%;
			max-height: 69rem;
			height: 69rem;
			background-image: url('../../assets/images/SadBear/bear-gif.gif');
			background-position: bottom center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	.road-map {
		&__wrap {
			display: flex;
			justify-content: space-between;
			position: relative;
			padding: 12.4rem 4rem 5.3rem 16.8rem;
		}

		&__left-arrow {
			width: 30%;
			display: flex;
			justify-content: center;
			margin-top: 12rem;
			height: 22rem;
		}

		&__left-text {
			font-family: 'Hiruko';
			position: absolute;
			top: 0;
			left: 16.8rem;
			font-weight: 900;
			font-size: 7.6rem;
			line-height: 10.8rem;
			color: #00ffff;
			max-width: 71.1rem;
			text-transform: uppercase;
		}

		&__text {
			width: 70%;
			max-width: 77.4rem;
			text-align: center;
			position: relative;
			z-index: 9;
			color: #fff;
		}

		&__title {
			font-family: 'Hiruko';
			font-size: 4.6rem;
			margin-bottom: 4.1rem;
		}

		&__content {
			font-size: 3.6rem;
			text-align: justify;
			line-height: 4rem;
			letter-spacing: -1.3px;
			margin-bottom: 6.6rem;
		}

		&__right-arrow {
			height: 30rem;
			margin: 0 auto;
		}
	}

	.connect {
		width: 100%;
		padding-bottom: 20rem;

		&__container {
			position: relative;
			padding: 8.2rem 4.4rem 5rem 0;
			border-radius: 0 4.9rem 4.9rem 0;
			background: rgba(196, 196, 196, 0.5);
			width: calc(100% - 5.7rem);
		}

		&__container-wrap {
			padding: 7.7rem 10.5rem 12.5rem;
			border-top: 1rem solid rgba(255, 255, 255, 0.75);
			border-bottom: 1rem solid rgba(255, 255, 255, 0.75);
			border-right: 1rem solid rgba(255, 255, 255, 0.75);
			border-radius: 0 4.9rem 4.9rem 0;
			width: 100%;
			display: flex;
			justify-content: flex-end;
		}

		&__info {
			width: 100%;
			max-width: 51rem;
		}

		&__title {
			font-weight: 900;
			font-size: 6.4rem;
			line-height: 6.2rem;
			letter-spacing: 0.2px;
			color: #ffffff;
			text-transform: uppercase;
			font-family: 'Hiruko';
			margin-bottom: 10.5rem;
			text-align: center;
		}

		&__links {
			display: flex;
			align-items: center;

			a {
				width: 100%;
				max-width: 21.65rem;
				margin-right: 7.5rem;

				img {
					width: 100%;
					object-fit: contain;
				}

				&:last-of-type {
					margin-right: 0;
				}
			}
		}

		&__arrow {
			height: 22rem;
			position: absolute;
			top: calc(100% - 5rem);
			right: 35.5rem;
		}

		&__bear {
			position: absolute;
			bottom: 0;
			left: 10rem;
			max-width: 62.1rem;
			max-height: 100%;
			width: 100%;
			object-fit: contain;
			z-index: 1;
		}
	}

	.rarities {
		background: transparent;
		position: relative;
		z-index: 9;
		color: #fff;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding-bottom: 31rem;

		&__container {
			padding: 11.3rem 30rem 9.7rem 37rem;
			border-top: 1rem solid rgba(255, 255, 255, 0.75);
			border-left: 1rem solid rgba(255, 255, 255, 0.75);
			border-bottom: 1rem solid rgba(255, 255, 255, 0.75);
			border-radius: 5rem 0 0 5rem;
			width: calc(100% - 26.3rem);
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
		}

		&__text {
			font-size: 7.2rem;
			line-height: 4rem;
		}

		&__title {
			font-family: 'Hiruko';
			font-size: 6rem;
			margin-bottom: 2.5rem;
			margin-right: 31.5rem;
		}

		&__arrow {
			position: absolute;
			top: calc(100% + 1rem);
			right: 24.3rem;
			height: 22rem;
			object-fit: contain;
		}
	}

	.team {
		padding-bottom: 28.7rem;

		&__title {
			font-family: 'Hiruko';
			font-size: 6.4rem;
			line-height: 6.2rem;
			color: #fff;
			text-transform: uppercase;
			margin-bottom: 9rem;
			text-align: center;
		}

		&__wrap {
			position: relative;
			padding: 10rem 7.8rem 1rem 4.9rem;
			background: rgba(255, 255, 255, 0.15);
			border-radius: 4.9rem;
			max-width: 127.4rem;
			width: 100%;
			margin: 0 auto;
		}

		&__member {
			display: flex;
			margin-bottom: 7.5rem;

			&-avatar {
				margin-right: 9.4rem;
				object-fit: contain;
				width: 100%;
				max-width: 32.3rem;
			}

			&-wrapper {
				max-width: 73rem;
				width: 100%;
			}

			&-name {
				font-family: 'Hiruko';
				font-size: 4.8rem;
				line-height: 4.8rem;
				color: #fff;
				margin-bottom: 0;
			}

			&-role {
				font-family: 'Hiruko';
				font-size: 4rem;
				line-height: 4rem;
				margin-bottom: 0;
				color: #00ffff;
			}

			&-description {
				font-family: 'Hiruko';
				font-size: 3.6rem;
				line-height: 3.6rem;
				color: #fff;
				margin-bottom: 0;
			}
		}

		&__arrow {
			position: absolute;
			right: 29.6rem;
			top: 100%;
			height: 22rem;
		}
	}

	.faq {
		&__wrap {
			border: 1rem solid #fff;
			border-radius: 5rem;
			padding: 7rem 3rem 3rem 3rem;
			margin: 0 auto;
			max-width: 127rem;
			width: 100%;
		}

		&__title {
			font-family: 'Hiruko';
			font-size: 6.4rem;
			line-height: 6.2rem;
			color: #fff;
			margin-bottom: 3rem;
			text-align: center;
		}

		&__question {
			font-family: 'Hiruko';
			font-size: 3.6rem;
			line-height: 6.2rem;
			color: #fff;
			margin-bottom: 1rem;
		}

		&__answer-content {
			height: 100%;
			overflow: hidden;
			margin-bottom: 2rem;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&__answer {
			font-family: 'Hiruko';
			font-size: 3.6rem;
			line-height: 6.2rem;
			color: #00ffff;
			margin-bottom: 5rem;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		.child-answer {
			font-family: 'Hiruko';
			font-size: 3.6rem;
			line-height: 6.2rem;
			color: #00ffff;

			li {
				position: relative;
				padding-left: 3.6rem;

				&::before {
					content: '';
					position: absolute;
					left: 1.6rem;
					top: 2rem;
					transform: translateX(-50%);
					width: 1rem;
					height: 1rem;
					border-radius: 50%;
					background-color: #00ffff;
				}
			}
		}
	}
}

// @media (max-width: 1420px) {
// 	.sad-bear {
// 		.main-section {
// 			.main-title-wrapper {
// 				position: relative;

// 				.main-title {
// 					z-index: 1;
// 					margin-left: 100px;
// 				}

// 				.bear-image-section {
// 					margin-top: 200px;
// 					background-position: bottom;
// 				}
// 			}
// 		}

// 		.connect-section {
// 			.connect-bear {
// 				width: 550px;
// 				height: 550px;
// 				object-fit: contain;
// 				z-index: 1;
// 			}

// 			.connect-link {
// 				.connect-group {
// 					.link-icon {
// 						width: 200px;
// 						padding: 0 30px;
// 					}
// 				}
// 			}
// 		}

// 		.team-section-wrapper {
// 			.team-arrow {
// 				transform: translateY(-30%);
// 			}
// 		}
// 	}
// }

// @media (max-width: 1200px) {
// 	.sad-bear {
// 		.main-section {
// 			.main-title-wrapper {
// 				.bear-image-section {
// 					width: 550px;
// 				}
// 			}
// 		}

// 		.connect-section {
// 			.connect-bear {
// 				display: none;
// 			}

// 			.connect-link {
// 				.connect-group {
// 					.link-icon {
// 						width: 250px;
// 						padding: 0 30px;
// 					}
// 				}
// 			}
// 		}

// 		.team-section-wrapper {
// 			.team-wrapper {
// 				padding: 100px 50px 10px 20px;
// 			}

// 			.team-arrow {
// 				transform: translateY(-20%);
// 			}
// 		}
// 	}
// }

// @media (max-width: 992px) {
// 	.sad-bear {
// 		.main-section {
// 			margin-top: 50px;
// 			margin-bottom: 0;

// 			.main-title-wrapper {
// 				padding: 0 200px 0 100px;
// 				margin-bottom: 0;

// 				.main-title {
// 					margin-left: 0;
// 					width: auto;

// 					.connect-button {
// 						margin-bottom: 40px;
// 					}

// 					.counter-placeholder {
// 						font-size: 65px;
// 					}
// 				}

// 				.bear-image-section {
// 					margin-bottom: 0;
// 					position: absolute;
// 					right: 0;
// 					top: 0;
// 					z-index: 0;
// 					width: 350px;
// 					height: 900px;
// 					background-position: bottom;
// 				}
// 			}

// 			.second-cloud-wrapper {
// 				.road-map-wrapper {
// 					display: block;
// 					padding: 0 50px;

// 					.road-left-arrow {
// 						width: 60%;
// 						height: 150px;
// 					}

// 					.road-map-content-wrapper {
// 						width: 100%;
// 						padding: 0;

// 						.road-map-content {
// 							margin-bottom: 0;
// 						}

// 						.roadmap-arrow {
// 							height: 200px;
// 							margin-left: 200px;
// 						}
// 					}
// 				}
// 			}
// 		}

// 		.connect-section {
// 			height: 500px;

// 			.midline {
// 				height: 370px;
// 			}

// 			.connect-link {
// 				.connect-link-title {
// 					margin-bottom: 50px;
// 				}

// 				.connect-group {
// 					.link-icon {
// 						width: 220px;
// 						padding: 0 30px;
// 					}
// 				}
// 			}
// 		}

// 		.rarities-section {
// 			height: 400px;
// 			margin-left: 50px;

// 			.midline {
// 				height: 200px;

// 				.coming-soon {
// 					font-size: 60px;
// 				}
// 			}

// 			.rarities-arrow {
// 				right: 150px;
// 				height: 200px;
// 				transform: translateY(85%);
// 			}
// 		}

// 		.team-section-wrapper {
// 			.team-wrapper {
// 				padding: 50px;

// 				.team-member {
// 					display: block;
// 					text-align: center;
// 					margin-bottom: 10px;

// 					.member-avatar {
// 						margin-right: 0;
// 						padding: 100px;
// 					}

// 					.member-wrapper {
// 						text-align: center;

// 						.name {
// 							font-family: 'Hiruko';
// 							font-size: 48px;
// 							line-height: 48px;
// 							color: #fff;
// 							margin-bottom: 0;
// 						}

// 						.role {
// 							font-family: 'Hiruko';
// 							font-size: 40px;
// 							line-height: 40px;
// 							margin-bottom: 0;
// 							color: #00ffff;
// 						}

// 						.description {
// 							font-family: 'Hiruko';
// 							font-size: 36px;
// 							line-height: 36px;
// 							color: #fff;
// 							margin-bottom: 0;
// 						}
// 					}
// 				}
// 			}

// 			.team-arrow {
// 				margin-left: 300px;
// 			}
// 		}
// 	}
// }

// @media (max-width: 768px) {
// 	.sad-bear {
// 		.main-section {
// 			margin-top: 0;

// 			.main-title-wrapper {
// 				display: block;
// 				padding: 0 50px;

// 				.main-title {
// 					padding-right: 50px;

// 					.title {
// 						line-height: 90px;
// 					}

// 					.content {
// 						font-size: 18px;
// 						line-height: 30px;
// 					}

// 					.connect-button {
// 						font-size: 22px;
// 						margin-bottom: 0;
// 					}

// 					.counter-placeholder {
// 						font-size: 36px;
// 					}
// 				}

// 				.bear-image-section {
// 					position: unset;
// 					width: auto;
// 					height: 330px;
// 					background-position: bottom;
// 					margin: 20px auto 0;
// 				}
// 			}

// 			.second-cloud-wrapper {
// 				.road-map-wrapper {
// 					.road-left-arrow {
// 						width: 100%;
// 					}

// 					.road-map-content-wrapper {
// 						.road-map-content {
// 							font-size: 18px;
// 						}

// 						.roadmap-arrow {
// 							margin-left: 100px;
// 						}
// 					}
// 				}
// 			}
// 		}

// 		.connect-section {
// 			padding: 0;
// 			margin-bottom: 200px;
// 			margin-right: 50px;

// 			.short-arrow {
// 				right: 250px;
// 			}

// 			.connect-link {
// 				.connect-group {
// 					.link-icon {
// 						width: 200px;
// 						padding: 0 30px;
// 					}
// 				}
// 			}
// 		}

// 		.rarities-section {
// 			display: block;
// 			text-align: center;
// 			height: 280px;
// 			margin-left: 0;

// 			.midline {
// 				top: 100px;
// 				left: 50px;
// 				height: 150px;

// 				.coming-soon {
// 					font-size: 48px;
// 				}
// 			}

// 			.rarities-arrow {
// 				display: none;
// 			}

// 			.rarities-title {
// 				position: unset;
// 			}
// 		}

// 		.team-section-wrapper {
// 			margin-bottom: 100px;

// 			.team-wrapper {
// 				margin: 0 25px;
// 				padding: 50px 10px;

// 				.team-member {
// 					margin-bottom: 0;

// 					.member-avatar {
// 						padding: 100px;
// 					}

// 					.member-wrapper {
// 						.name {
// 							font-size: 35px;
// 						}

// 						.role {
// 							font-size: 35px;
// 						}

// 						.description {
// 							font-size: 23px;
// 						}
// 					}
// 				}
// 			}

// 			.team-arrow {
// 				display: none;
// 			}
// 		}

// 		.FAQ-section {
// 			margin: 0 25px;
// 			padding: 40px 10px 15px 10px;

// 			.question {
// 				font-size: 23px;
// 				margin-bottom: 10px;
// 			}

// 			.answer-content {
// 				.answer {
// 					font-size: 23px;
// 					margin-bottom: 30px;
// 				}

// 				.child-answer {
// 					font-size: 23px;
// 				}
// 			}
// 		}
// 	}
// }

// @media (max-width: 550px) {
// 	.sad-bear {
// 		.main-section {
// 			.main-title-wrapper {
// 				.main-title {
// 					.connect-button {
// 						font-size: 16px;
// 						margin-bottom: 0;
// 					}

// 					.counter-placeholder {
// 						font-size: 33px;
// 					}
// 				}
// 			}
// 		}

// 		.connect-section {
// 			height: 370px;
// 			margin-right: 30px;

// 			.midline {
// 				height: 320px;
// 				top: 30px;
// 				right: 40px;
// 			}

// 			.short-arrow {
// 				right: 150px;
// 				height: 200px;
// 				transform: translateY(86%);
// 			}

// 			.connect-link {
// 				padding-right: 20px;

// 				.connect-link-title {
// 					margin-bottom: 30px;
// 					font-size: 48px;
// 				}

// 				.connect-group {
// 					.link-icon {
// 						width: 138px;
// 						padding: 0 20px;
// 					}
// 				}
// 			}
// 		}

// 		.rarities-section {
// 			.midline {
// 				left: 40px;

// 				.coming-soon {
// 					font-size: 40px;
// 				}
// 			}
// 		}

// 		.team-section-wrapper {
// 			.team-wrapper {
// 				.team-member {
// 					.member-avatar {
// 						padding: 50px;
// 					}
// 				}
// 			}
// 		}
// 	}
// }
