@import './vars.scss';

.btn {
	border: none;
	cursor: pointer;
	text-decoration: none;
	line-height: 5.6rem;
	display: inline-block;
	white-space: nowrap;
	text-align: center;
	background: #e77741;
	border: 1px solid $secondary-c;
	border-radius: 40px;
	padding: 0 2.5rem;
	transition: all 0.5s;
	font-weight: 600;
	font-size: 1.6rem;
	letter-spacing: 0.04em;
	color: $primary-c;

	&:hover {
		background: #140c2f;
	}
}
