@import '../../../Styles/vars.scss';

.sad-bear {
	.header {
		padding: 7.5rem 0 0;
		background: transparent;

		@media screen and (max-width: $large_tablet) {
			padding: 4rem 2rem 0;
		}

		&__container {
			position: relative;
		}

		&__logo-image {
			width: 7.6rem;
			height: 5.8rem;
			mix-blend-mode: lighten;
			position: absolute;
			left: 15rem;
			top: 50%;
			transform: translateY(-50%);
			object-fit: contain;

			@media screen and (max-width: $large_tablet) {
				left: -2rem;
			}
		}

		.category-wrapper {
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: center;

			@media screen and (max-width: $large_tablet) {
				display: none;
			}

			.category {
				font-size: 1.6rem;
				color: #fff;
				padding: 0 2.4rem;
				margin-bottom: 0;
				text-transform: uppercase;
				cursor: pointer;
			}
		}

		.hamburger {
			display: none;
			cursor: pointer;

			@media screen and (max-width: $large_tablet) {
				display: block;
				margin-left: auto;
			}
		}
	}

	.side-nav {
		display: none;

		@media screen and (max-width: $large_tablet) {
			display: block;
			height: 100%;
			width: 46rem !important;
			position: fixed;
			z-index: 100;
			top: 0;
			left: 0;
			background-color: #292929;
			overflow-x: hidden;
			padding: 8rem 5rem 2rem;
			transition: 0.5s;
			opacity: 0.95;

			.mobile-logo {
				position: absolute;
				top: 1rem;
				left: 3.5rem;
			}

			.close {
				position: absolute;
				top: 1.5rem;
				right: 5.5rem;
				color: #fff;
				width: 3rem;
				cursor: pointer;
			}

			.side-category {
				text-align: left;
				font-size: 3rem;
				text-transform: uppercase;
				color: #fff;
				padding: 2rem 0 1rem 0;
				line-height: 4rem;
				border-bottom: 1px solid #d5bf8c;
				margin-bottom: 2rem;
				cursor: pointer;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}

		@media (max-width: $large_mobile) {
			width: 100% !important;
		}

		&__wrap {
			display: flex;
			flex-direction: column;
		}
	}
}
